<p>Hello <%= @user.email %>,</p>

<p>You have successfully logged in to <strong>LuxeCart</strong>.</p>

<p>If this wasn’t you, please secure your account by changing your password.</p>

<p>Thank you,<br>
The LuxeCart team</p>